#preso, .slide {
  width: 1400px;
  height: 1050px;
}

.slide .center {
  width: 1400px;
  height: 1050px;
}

.subsection h1 {
  color: white;
  background: #535353;
}

h1, h2 {
  color: rgb(0, 125, 35);
  font-family: Verdana, Georgia;
}

.content {
  color: #535353;
        font-family: "Arial", sans-serif;
}

a, a:hover, a:visited {
  color: blue;
}


